@use "/src/styles/colors";
@use "/src/styles/mixins";

@font-face {
    font-family: "Lobster13Regular";
    src:
        local(Lobster13Regular),
        url("../../assets/fonts/Lobster/Lobster_1.3-webfont.woff2") format("woff2"),
        url("../../assets/fonts/Lobster/Lobster_1.3-webfont.woff") format("woff"),
        url("../../assets/fonts/Lobster/Lobster_1.3-webfont.ttf") format("truetype"),
        url("../../assets/fonts/Lobster/Lobster_1.3-webfont.svg#Lobster13Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.page {
    background: black url(../../assets/bg/bg-home-sky-lake.jpg) no-repeat 54.9% 7px fixed;
}

.title {
    position: relative;
    width: 100%;
    height: auto;
    color: #fff;
    line-height: 0.9;
    font-size: 55px;
    font-family: "BebasNeueRegular", Arial, sans-serif;

    &__of {
        position: relative;
        top: 2px;
        left: -13px;
        font-size: 30px;
        font-weight: normal;
        font-style: italic;
        color: #eabb00;
        font-family: "Lobster13Regular", Arial, Helvetica;
        text-shadow: -5px 4px 3px #000;
    }
}
