@use "/src/styles/colors";
@use "/src/styles/mixins";

.nav-trigger {
    $durationMovement: 0.2s;
    $durationOpacity: 0.2s;
    $barHeight: 3px;
    $barHeightHalf: calc(3px / 2);
    padding: 8px;

    &:hover {
        span {
            background: colors.$gold;
        }
    }

    @include mixins.breakpointMin(630px) {
        display: none;
    }

    &__wrapper {
        position: relative;
        width: 30px;
        height: 24px;
    }

    span {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $barHeight;
        background: #ddd;
        border-radius: 3px;
        transition:
            backgroun $durationOpacity ease-in-out,
            top $durationMovement ease-in-out $durationMovement,
            opacity $durationOpacity ease-in-out $durationMovement,
            transform $durationMovement ease-in-out;

        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: calc(50% - $barHeightHalf);
        }
        &:nth-child(3) {
            top: calc(100% - $barHeight);
        }
    }

    &--is-active {
        span {
            background: colors.$gold;
            transition:
                top $durationMovement ease-in-out,
                opacity $durationOpacity ease-in-out $durationMovement,
                transform $durationMovement ease-in-out $durationMovement;

            &:nth-child(1) {
                top: calc(50% - $barHeightHalf);
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                top: calc(50% - $barHeightHalf);
                transform: rotate(-45deg);
            }
        }
    }
}
