.footer {
    width: 100%;
    padding: 30px;
    background-color: rgb(17, 17, 17);
    border-top: 2px solid #111;

    &__author {
        height: auto;
        text-align: right;
        color: #fff;
        font-size: 28px;
        font-family: "BebasNeueRegular", Arial, sans-serif;
    }

    &__nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        margin: 0 0 10px 0;
        padding: 10px 0 0 0;
    }

    &__link {
        width: 40px;
        height: 40px;
        display: inline-block;
        padding: 0;
        margin: 0 0 0 15px;
        text-indent: -9999px;
        border-radius: 4px;
    }

    &__link svg {
        width: 40px;
        height: 40px;
        color: #0a66c2;
    }

    &__link-linkedin:hover {
        background: #fff;
        svg {
            color: #3f7b9f;
            stroke: #3f7b9f;
        }
    }

    &__link-gitHub {
        background: #000;
        border-radius: 50%;

        svg {
            color: #fbfbfb;
        }
    }

    &__link-gitHub:hover {
        background: #fff;
        svg {
            color: #3f7b9f;
        }
    }

    &__copyright {
        position: relative;
        width: 100%;
        margin: 0;
        text-align: right;
        color: #555;
    }

    &__container {
        max-width: 1000px;
        margin: 0 auto;
    }
}
