@use "/src/styles/mixins";
@use "/src/styles/colors";

.view-contact {
    background: #000 url(../../assets/bg/bg_page_contact.jpg) no-repeat 50% 200px fixed;
    padding: 70px 10px 20px 10px; // TODO: componentize this

    @include mixins.breakpointMin(715px) {
        padding-bottom: 50px;
    }

    .view__header {
        // TODO: componentize this
        z-index: 30;
        padding: 20px 0;
        text-align: center;
        border-bottom: 1px solid #333;
        @include mixins.breakpointMin(715px) {
            padding: 35px 0;
            margin-bottom: 50px;
        }
    }

    h2 {
        font-family: "BebasNeueRegular", Arial, sans-serif;
        color: colors.$teal;
        font-size: 50px;
        line-height: 1;
    }
}
