@use "./styles/colors";
@use "./styles/animations";
@import url(./styles/tailwind/input.css);
@import "./styles/reset";

@font-face {
    font-family: "BebasNeueRegular";
    src:
        local(BebasNeueRegular),
        url("./assets/fonts/bebas-neue-fontfacekit/BebasNeue-webfont.woff2") format("woff2"),
        url("./assets/fonts/bebas-neue-fontfacekit/BebasNeue-webfont.woff") format("woff"),
        url("./assets/fonts/bebas-neue-fontfacekit/BebasNeue-webfont.ttf") format("truetype"),
        url("./assets/fonts/bebas-neue-fontfacekit/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

:root {
    --global-viewport-width: "100%";
    --global-app-footer-height: 180px;
}

html {
    background-color: #000;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Arial;
    background-color: #000;
    font-size: 16px;
    & * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; //  Opera/IE 8+
    }
}

code {
    font-family: monospace;
    background-color: #222;
    padding: 1px 4px;
    color: colors.$gold;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
}

a {
    color: colors.$linkBlue;
    text-decoration: underline;
}
