.starField {
    position: fixed;
    width: 100%;
    max-width: 1024px;
    padding: 4px;
    height: 350px;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 4;
    background: black url(../../assets/bg/bg-sky-raw.jpg) no-repeat 50% 0 fixed;
    background-position: 50% -65px;

    &::after {
        width: 100%;
        height: 400px;
        position: absolute;
        bottom: -180px;
        content: '';
        background: url(../../assets/bg/bg_home_mountains.gif) no-repeat 60px -40px;
        background-position: calc(50% - 75px) 0;

        z-index: 1;
    }
}
