.starField {
    position: fixed;
    width: 100%;
    padding: 4px;
    height: 320px;
    top: 55px;
    left: 0;
    pointer-events: none;
    @media (min-width: 768px) {
        width: 800px;
        left: 50%;
        transform: translateX(-50%);
    }
}
