.four-oh-four {
    color: #fff;
    text-align: center;

    h1 {
        font-size: 128px;
        margin-bottom: 50px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }

    button {
        margin: 20px auto;
    }
}
