@use "/src/styles/mixins";
@use "/src/styles/colors";

.loader-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#111, #000);
    height: 100vh;
}

// All CSS by Sonja Strieder, seen here https://codepen.io/sonjastrieder

$Loader-color: #333;
$Loader-size: 14.6rem;
$Loader-offset: 1.7rem;
$Loader-timing: ease-in-out;
$speed: 1.3s;

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $Loader-size;
    margin-top: calc($Loader-size / 2);
    margin-bottom: calc($Loader-size / 2);
    &:before,
    &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        animation-duration: $speed;
        animation-iteration-count: infinite;
        animation-timing-function: $Loader-timing;
        filter: drop-shadow(0 0 calc($Loader-offset / 2.25) rgba($Loader-color, 0.75));
    }
    &:before {
        width: 100%;
        padding-bottom: 100%;
        box-shadow: inset 0 0 0 $Loader-offset $Loader-color;
        animation-name: pulsA;
    }
    &:after {
        width: calc(100% - #{$Loader-offset}* 2);
        padding-bottom: calc(100% - #{$Loader-offset}* 2);
        box-shadow: 0 0 0 0 $Loader-color;
        animation-name: pulsB;
    }
}

@keyframes pulsA {
    0% {
        box-shadow: inset 0 0 0 $Loader-offset $Loader-color;
        opacity: 1;
    }
    50%,
    100% {
        box-shadow: inset 0 0 0 0 $Loader-color;
        opacity: 0;
    }
}

@keyframes pulsB {
    0%,
    50% {
        box-shadow: 0 0 0 0 $Loader-color;
        opacity: 0;
    }
    100% {
        box-shadow: 0 0 0 $Loader-offset $Loader-color;
        opacity: 1;
    }
}
