@use "/src/styles/mixins";
@use "/src/styles/colors";

.contact-form {
    position: relative;

    @include mixins.placeholder-styles {
        color: #777;
        font-style: italic;
        font-family: "Trebuchet MS";
        font-size: 16px;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 28px;
        max-width: 980px;
        margin: 0 auto;
        padding: 14px 10px;
        border-radius: 6px;
        background: #215153 url(../../assets/bg/bg_contactForm.jpg) repeat 0 0;
        background-size: cover;

        @include mixins.breakpointMin(630px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;
            height: 320px;
            padding: 35px 25px;
            border-radius: 14px;
            background-repeat: no-repeat;
        }
    }

    .column {
        &:first-of-type div:nth-child(3) {
            margin-bottom: 0;
        }
    }

    .group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 4%;

        .field {
            width: 50%;
        }
        .field:nth-child(3) {
            margin-bottom: 0;
        }
    }

    .btn-submit {
        width: 100%;
        padding: 6px 30px 3px 30px;
        font-size: 25px;
        cursor: pointer;
        color: #835500;
        font-family: "BebasNeueRegular", Arial, sans-serif;
        text-transform: uppercase;
        text-shadow:
            0px -1px 0px #333,
            0 1px 0px #b69d6f;
        border-radius: 4px;
        box-shadow:
            0px 1px 3px rgba(0, 0, 0, 0.7),
            0px -1px 0px rgba(245, 233, 172, 1);
        transition: all 0.2s;
        @include mixins.vertical-gradient(#eabb00, #a86400);
        @include mixins.breakpointMin(630px) {
            width: 50%;
            grid-column: 2;
            justify-self: end;
        }
        &:hover {
            background: linear-gradient(to bottom, #eabb00 0%, #eabb00 100%);
        }

        &:active {
            border: 2px solid colors.$linkBlue;
        }
    }
}
