@use '/src/styles/colors';

$orb-size-deathstar: 8px;
$orb-size-predator: 3px;

:root {
    --spaceship-position: 54%;
    --launch-delay-deathstar: 0s;
    --launch-delay-predator: 0s;

    @media (min-width: 455px) {
        --spaceship-position: 21%;
    }
}

.spaceship--deathstar {
    position: absolute;
    bottom: 0%;
    left: 45%;
    opacity: 0;
    width: calc($orb-size-deathstar * 3);
    height: $orb-size-deathstar;
    border-radius: calc($orb-size-deathstar / 2);

    &--launch {
        animation: launch 5s 1s linear;
    }

    &::before {
        position: absolute;
        top: 2px;
        left: calc($orb-size-deathstar + 4px);
        content: '';
        background: red;
        width: 2px;
        height: 2px;
        border-radius: 50%;

        z-index: 3;

        animation: toggle-opacity 1s linear infinite;
        opacity: 1;
    }

    .orb {
        position: absolute;
        top: 0;
        width: calc($orb-size-deathstar / 2);
        height: calc($orb-size-deathstar / 2);
        background-color: colors.$gold;
        box-shadow: 0 0 5px 1px red;
        border-radius: 50%;
    }
    .orb:first-child {
        animation: orbit-left 1.5s linear infinite;
        top: 50%;
        transform: translateY(-50%);
    }
    .orb:nth-child(2) {
        left: 50%;
        transform: translateX(-50%);

        background-color: #333;
        box-shadow: 0 0 5px 1px #fff;
        width: $orb-size-deathstar;
        height: $orb-size-deathstar;
        border: 1px solid #000;
        z-index: 2;
    }
    .orb:last-child {
        animation: orbit-right 1.5s linear infinite;
        top: 50%;
        transform: translateY(-50%);
    }
}

.spaceship--predator {
    position: absolute;
    bottom: 0%;
    left: 45%;
    width: calc($orb-size-predator * 6);
    height: calc($orb-size-predator * 6);
    background-color: rgba(red, 0.2);
    border-radius: 50%;
    box-shadow: 0 0 19px 3px rgba(red, 0.8);
    animation:
        rotate 2s linear infinite 3s,
        pulse-glow 2s ease-in-out infinite;

    &--launch {
        animation:
            launch 5s 1s linear,
            rotate 2s linear infinite,
            pulse-glow 2s ease-in-out infinite;
    }

    .orb {
        position: absolute;
        width: $orb-size-predator;
        height: $orb-size-predator;
        background-color: colors.$gold;
        box-shadow: 0 0 5px 1px red;
        border-radius: 50%;
    }
    .orb:first-child {
        top: -$orb-size-predator;
        left: 50%;
        transform: translateX(-50%);
    }
    .orb:nth-child(2) {
        left: -0.5px;
        bottom: 2.5px;
    }
    .orb:last-child {
        right: -0.5px;
        bottom: 2.5px;
    }
}

@keyframes orbit-left {
    0% {
        left: 0;
        z-index: 4;
    }
    25% {
        z-index: 4;
    }
    50% {
        left: calc(100% - 4px);
        z-index: 4;
    }
    51% {
        left: calc(100% - 4px);
        z-index: 4;
    }
    75% {
        z-index: 1;
    }
    99% {
        z-index: 1;
    }
    100% {
        left: 0;
        z-index: 1;
    }
}
@keyframes orbit-right {
    0% {
        left: calc(100% - 4px);
        z-index: 1;
    }
    25% {
        z-index: 1;
    }
    50% {
        left: 0;
        z-index: 1;
    }
    51% {
        left: 0;
        z-index: 3;
    }
    75% {
        z-index: 3;
    }
    99% {
        z-index: 3;
    }
    100% {
        left: calc(100% - 4px);
        z-index: 1;
    }
}
@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 19px 3px rgba(red, 0.8);
        background-color: rgba(red, 0.2);
    }
    50% {
        box-shadow: 0 0 19px 1px rgba(white, 0.5);
        background-color: rgba(white, 0.1);
    }
    100% {
        box-shadow: 0 0 19px 3px rgba(red, 0.8);
        background-color: rgba(red, 0.2);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes launch {
    0% {
        bottom: 0%;
        left: 45%;
        opacity: 0;
    }
    4% {
        opacity: 1;
    }

    70% {
        bottom: var(--spaceship-position);
        left: 45%;
    }

    90% {
        bottom: var(--spaceship-position);
        left: 45%;
    }

    95% {
        opacity: 1;
    }

    100% {
        bottom: 100%;
        left: 48%;
        opacity: 0;
    }
}
@keyframes toggle-opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
