@use "/src/styles/colors";

$sizeOrbiter: 8px;

$sizeThreeOrb: 3px;

:root {
    --spaceship-position: 49%;

    @media (min-width: 455px) {
        --spaceship-position: 21%;
    }
}

.spaceShip {
    display: inline-block;
    width: calc($sizeOrbiter * 3);
    height: $sizeOrbiter;
    position: absolute;
    left: 45%;
    bottom: 12%;
    border-radius: calc($sizeOrbiter / 2);
    opacity: 0;
    animation: launch 5s 1s linear;
    animation-delay: 11s;
}

.orb {
    position: absolute;
    top: 0;
    width: calc($sizeOrbiter / 2);
    height: calc($sizeOrbiter / 2);
    background-color: colors.$gold;
    box-shadow: 0 0 5px 1px red;
    border-radius: 50%;
}
.orb:first-child {
    animation: orbit-left 1.5s linear infinite;
    top: 50%;
    transform: translateY(-50%);
}
.orb:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);

    background-color: #333;
    box-shadow: 0 0 5px 1px #fff;
    width: $sizeOrbiter;
    height: $sizeOrbiter;
    border: 1px solid #000;
    z-index: 2;
}
.orb:last-child {
    animation: orbit-right 1.5s linear infinite;
    top: 50%;
    transform: translateY(-50%);
}

// -------------------

.spaceShipThreeOrb {
    width: calc($sizeThreeOrb * 6);
    height: calc($sizeThreeOrb * 6);
    position: absolute;
    bottom: 12%;
    left: 45%;
    opacity: 0;
    animation:
        launch 5s linear,
        rotate 2s linear infinite,
        pulse-glow 2s ease-in-out infinite;
    animation-delay: 18s, 20s, 0s;
    z-index: 5;
    border-radius: 50%;
    box-shadow: 0 0 19px 3px rgba(red, 0.8);
    background-color: rgba(red, 0.2);
}

.orbThreeOrb {
    position: absolute;
    width: $sizeThreeOrb;
    height: $sizeThreeOrb;
    background-color: colors.$gold;
    box-shadow: 0 0 5px 1px red;
    border-radius: 50%;
}
.orbThreeOrb:first-child {
    top: -$sizeThreeOrb;
    left: 50%;
    transform: translateX(-50%);
}
.orbThreeOrb:nth-child(2) {
    left: -0.5px;
    bottom: 2.5px;
}
.orbThreeOrb:last-child {
    right: -0.5px;
    bottom: 2.5px;
}

@keyframes orbit-left {
    //purplex
    0% {
        left: 0;
        z-index: 4;
    }
    25% {
        z-index: 4;
    }
    50% {
        left: calc(100% - 4px);
        z-index: 4;
    }
    51% {
        left: calc(100% - 4px);
        z-index: 4;
    }
    75% {
        z-index: 1;
    }
    99% {
        z-index: 1;
    }
    100% {
        left: 0;
        z-index: 1;
    }
}
@keyframes orbit-right {
    0% {
        left: calc(100% - 4px);
        z-index: 1;
    }
    25% {
        z-index: 1;
    }
    50% {
        left: 0;
        z-index: 1;
    }
    51% {
        left: 0;
        z-index: 3;
    }
    75% {
        z-index: 3;
    }
    99% {
        z-index: 3;
    }
    100% {
        left: calc(100% - 4px);
        z-index: 1;
    }
}
@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 19px 3px rgba(red, 0.8);
        background-color: rgba(red, 0.2);
    }
    50% {
        box-shadow: 0 0 19px 1px rgba(white, 0.5);
        background-color: rgba(white, 0.1);
    }
    100% {
        box-shadow: 0 0 19px 3px rgba(red, 0.8);
        background-color: rgba(red, 0.2);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes launch {
    0% {
        bottom: 0%;
        left: 45%;
        opacity: 0;
    }
    4% {
        opacity: 1;
    }

    70% {
        bottom: var(--spaceship-position);
        left: 45%;
    }

    90% {
        bottom: var(--spaceship-position);
        left: 45%;
    }

    95% {
        opacity: 1;
    }

    100% {
        bottom: 100%;
        left: 48%;
        opacity: 0;
    }
}
