@use "/src/styles/mixins";
@use "/src/styles/colors";
@use "sass:color";

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
    font-size: 25px;
    line-height: 1;
    cursor: pointer;
    color: #835500;
    font-family: "BebasNeueRegular", Arial, sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    // transition: all 0.2s;

    &--primary {
        text-shadow:
            0px -1px 0px #333,
            0 1px 0px #b69d6f;
        box-shadow:
            0px 1px 3px rgba(0, 0, 0, 0.7),
            0px -1px 0px rgba(245, 233, 172, 1);
        @include mixins.vertical-gradient(#eabb00, #a86400);
        &:hover {
            background: color.scale(#eabb00, $alpha: 10%);
        }
    }

    &--ghost {
        color: #eee;
        &:hover {
            color: colors.$gold;
        }
    }

    @include mixins.breakpointMin(630px) {
        font-size: 18;
    }

    &:disabled {
        cursor: default;

        &:hover {
            @include mixins.vertical-gradient(#eabb00, #a86400);
        }
    }

    &__text {
        padding-top: 4px;
    }

    [class*="Loader_loader-container"] {
        width: auto;
        // position: absolute;
        // left: calc(50% - 67px);
    }

    &__loader {
        display: inline-block;
        font-size: 24px;
        color: #573900;
    }

    &--is-loading {
        cursor: wait;
    }
}
