@use "/src/styles/mixins";
@use "/src/styles/colors";

.slider__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 1.5%;
    width: 97%;
    height: 56px;
    margin-top: -28px;
    z-index: 1;
    @include mixins.disable-user-select();

    &__btn {
        display: none;
        width: 56px;
        height: 56px;
        text-indent: -9999px;
        background: none;

        @include mixins.breakpointMin(715px) {
            display: block;
            background: url(../../../../assets/ui_slider_buttons_sprite.png) no-repeat 0 0;
        }

        &--prev {
            transition: margin 200ms;
            background-position: 0 0;

            &:hover {
                background-position: 0 -56px;
                margin-left: -2px;
            }
        }

        &--next {
            background-position: -61px 0px;
            transition: margin 200ms;

            &:hover {
                background-position: -61px -56px;
                margin-right: -2px;
            }
        }
    }

    &__btn-icon {
        display: inline-block;
        font-size: 40px;
        border-radius: 4px;
        color: #888;
        cursor: pointer;

        &:hover {
            color: colors.$gold;
        }

        @include mixins.breakpointMin(715px) {
            display: none;
        }
    }
}
