@use "/src/styles/mixins";
@use "/src/styles/colors";

.validation-message {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    max-width: 100%;
    white-space: wrap;
    padding: 3px 5px;
    font-size: 14px;
    line-height: 1;
    border-radius: 3px;
    background-color: rgba(#000, 0.8);
    z-index: 1;

    &--is-invalid {
        color: colors.$errorRed;
    }

    &--is-valid {
        color: colors.$validGreen;
    }
}
