@use "/src/styles/mixins";
@use "/src/styles/colors";

#view-resume {
    padding: 70px 10px 20px 10px; // TODO: componentize this

    .view__header {
        // TODO: componentize this
        padding: 35px 0;
        z-index: 30;
        text-align: center;
        border-bottom: 1px solid #333;

        @include mixins.breakpointMin(715px) {
            padding: 35px 0;
            margin-bottom: 50px;
        }
    }

    h2 {
        font-size: 50px;
        line-height: 1;
        font-family: "BebasNeueRegular", Arial, sans-serif;
        color: colors.$teal;
    }

    .document-viewer {
        width: 100%;
        max-width: 612px;
        min-height: 100vh;
        margin: 0 auto;
        background: #222;

        &__loader {
            margin: 0 auto;
        }
    }

    .pdf-page {
        margin-bottom: 25px;
    }
}
