@use "/src/styles/mixins";
@use "/src/styles/colors";
#view-resume {
    padding: 70px 10px 20px 10px; // TODO: componentize this

    .view__header {
        // TODO: componentize this
        text-align: center;
        z-index: 30;
        padding: 35px 0 30px 0;
        border-bottom: 1px solid #333;
        margin-bottom: 50px;
    }

    h2 {
        font-family: "BebasNeueRegular", Arial, sans-serif;
        color: colors.$teal;
        font-size: 50px;
        line-height: 1;
    }

    .document-viewer {
        background: #010101;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
}
