#error-404 {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 100px;
    h1 {
        font-size: 128px;
        margin-bottom: 50px;
        font-weight: bold;
    }
    p {
        font-size: 18px;
    }
}
