@use "/src/styles/mixins";
@use "/src/styles/colors";

$aspectRatio: 0.7070707;
$bodyPadding: 20px;
$borders: 2px;

// TODO: centtralize all vars
.slider__viewport {
    $width: calc(var(--global-viewport-width) - $bodyPadding - $borders);
    $widthViewPort: min($width, 495px);

    width: $widthViewPort;
    height: calc($widthViewPort * $aspectRatio);
    overflow: hidden;

    border-radius: 0;
    background: #000 url(../../../../assets/loader/loader-o-yellow.gif) no-repeat 50% 50%;

    @include mixins.breakpointMin(715px) {
        box-shadow:
            -2px 3px 2px rgba(#fff, 0.5),
            2px -3px 2px rgba(#000, 0.8);
        border-radius: 9px;
    }

    &__slides {
        display: flex;
        width: calc($widthViewPort * 3);
        height: calc($widthViewPort * $aspectRatio);
        left: -100%;
        position: relative;
    }

    &__slides--is-animating-right {
        -ms-animation: slide-right 0.4s steps(100) forwards;
        -moz-animation: slide-right 0.4s steps(100) forwards;
        -webkit-animation: slide-right 0.4s steps(100) forwards;
        -o-animation: slide-right 0.4s steps(100) forwards;
        animation: slide-right 0.4s steps(100) forwards;
    }

    &__slides--is-animating-left {
        -ms-animation: slide-left 0.4s steps(100) forwards;
        -moz-animation: slide-left 0.4s steps(100) forwards;
        -webkit-animation: slide-left 0.4s steps(100) forwards;
        -o-animation: slide-left 0.4s steps(100) forwards;
        animation: slide-left 0.4s steps(100) forwards;
    }

    @keyframes slide-right {
        from {
            left: -100%;
        }
        to {
            -ms-transform: translateX(calc($widthViewPort * -1));
            -moz-transform: translateX(calc($widthViewPort * -1));
            -webkit-transform: translateX(calc($widthViewPort * -1));
            -o-transform: translateX(calc($widthViewPort * -1));
            transform: translateX(calc($widthViewPort * -1));
        }
    }

    @keyframes slide-left {
        from {
            left: -100%;
        }
        to {
            left: 0;
        }
    }
}
