.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  z-index: 100;
  background: #111;
  color: #fbfbfb;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal__title {
  font-size: 16px;
  margin-bottom: 25px;
  color: #fbfbfb;
}

.modal__btn-close {
  font-size: 1.4rem;
  line-height: 1;
  color: #000;
  cursor: pointer;
}
