.base {
    opacity: 1;

    transition:
        opacity 0.6s ease-out 0.2s,
        transform 0.6s ease-out 0.3s;

    &.base-has-translate {
        transform: translateY(0);
    }

    &--is-hidden {
        opacity: 0;
    }

    &--is-hidden.base--has-translate {
        transform: translateY(20px);
    }
}
