@use "/src/styles/mixins";
@use "/src/styles/colors";

.contact-form {
    position: relative;

    @include mixins.placeholder-styles {
        color: #777;
        font-style: italic;
        font-family: "Trebuchet MS";
        font-size: 16px;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 28px;
        max-width: 980px;
        margin: 0 auto;
        padding: 14px 10px;
        border-radius: 6px;
        background: #215153 url(../../assets/bg/bg_contactForm.jpg) repeat 0 0;
        background-size: cover;

        @include mixins.breakpointMin(630px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;
            height: 320px;
            padding: 35px 25px;
            border-radius: 14px;
            background-repeat: no-repeat;
        }
    }

    .column {
        @include mixins.breakpointMin(630px) {
        }
    }

    .group {
        .control-input:nth-child(3) {
            margin-bottom: 0;
        }
    }

    .loader {
        display: none;
        position: absolute;
        bottom: 32.5px;
        right: 141px;
        width: 30px;
        height: 30px;
        z-index: 20;
        background: url(../../assets/loader/loader-o-yellow.gif) no-repeat 50% 50%;
    }

    .sending .loader {
        display: block;
    }

    label {
        position: absolute;
        text-indent: -9999px;
    }

    input {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 0;
        line-height: 30px;
        border: 2px solid transparent;
        font: 16px Arial;
        color: #ddd;
        box-shadow:
            0 0 8px #000 inset,
            -2px 2px 2px rgba(152, 192, 183, 0.5),
            2px -2px 1px rgba(0, 0, 0, 0.5);
        background-color: rgba(#000, 0.8);
        border-radius: 4px;
        transition: all 200ms;
        &:focus {
            border-color: #00fffb;
            outline: none;
        }
        @include mixins.breakpointMin(1000px) {
            font-size: 24px;
        }
    }

    .control-input {
        position: relative;
        margin: 0 0 28px 0;
    }

    .group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 4%;

        .control-input {
            width: 50%;
        }
    }

    .control-textarea {
        position: relative;
        height: 100%;
    }

    textarea {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        font: 16px Arial;
        color: #ddd;
        border: 2px solid transparent;
        background-color: rgba(#000, 0.8);
        box-shadow:
            0 0 8px #000 inset,
            -2px 2px 2px rgba(152, 192, 183, 0.5),
            2px -2px 1px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        transition: all 200ms;
        &:focus {
            border-color: #00fffb;
            outline: none;
        }
    }

    .confirmEmail {
        display: none;
    }

    .btn-submit {
        width: 100%;
        padding: 6px 30px 3px 30px;
        font-size: 25px;
        cursor: pointer;
        color: #835500;
        font-family: "BebasNeueRegular", Arial, sans-serif;
        text-transform: uppercase;
        text-shadow:
            0px -1px 0px #333,
            0 1px 0px #b69d6f;
        border-radius: 6px;
        box-shadow:
            0px 1px 3px rgba(0, 0, 0, 0.7),
            0px -1px 0px rgba(245, 233, 172, 1);
        transition: all 0.2s;
        @include mixins.vertical-gradient(#eabb00, #a86400);
        @include mixins.breakpointMin(630px) {
            width: 50%;
            grid-column: 2;
            justify-self: end;
        }
        &:hover {
            background: linear-gradient(to bottom, #eabb00 0%, #eabb00 100%);
        }

        &:active {
            border: 2px solid colors.$linkBlue;
        }
    }

    .input--is-invalid,
    .input--is-invalid:focus {
        border-color: #801010;
    }
}
