@use "/src/styles/mixins";
@use "/src/styles/colors";

.slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 875px;
    min-height: 200px;
    margin: 0 auto;

    @include mixins.breakpointMin(715px) {
        flex-wrap: unset;
    }

    .btn {
        cursor: pointer;
        line-height: 1;
    }
}

.loader {
    font-size: 80px;
    height: 200px; // TODO: would like to make this auto-fill
}
