@use "/src/styles/mixins";
@use "/src/styles/colors";

.view-contact {
    background: #000 url(../../assets/bg_page_contact.jpg) no-repeat 50% 200px fixed;

    h2 {
        font-family: "BebasNeueRegular", Arial, sans-serif;
    }

    .validation-meassage--is-error {
        background-color: #fbfbfb;
        color: colors.$errorRed;
        border-radius: 3px;
        padding: 3px 5px;
        white-space: nowrap;
        line-height: 1;
        position: absolute;
        bottom: -22px;
        left: 0;
        font-size: 14px;
    }

    .view__header {
        text-align: center;
        z-index: 30;
        padding: 35px 0 30px 0;
        border-bottom: 1px solid #333;
        margin-bottom: 50px;
    }

    h2 {
        color: colors.$teal;
        font-size: 50px;
        line-height: 1;
        position: static;
    }
}
