@use "/src/styles/mixins";
@use "/src/styles/colors";

.view-contact {
    background: #000 url(../../assets/bg_page_contact.jpg) no-repeat 50% 200px fixed;

    h2 {
        font-family: "BebasNeueRegular", Arial, sans-serif;
    }

    .validation-meassage--is-error {
        background-color: #fbfbfb;
        color: colors.$errorRed;
        border-radius: 3px;
        padding: 3px 5px;
        white-space: nowrap;
        line-height: 1;
        position: absolute;
        bottom: -22px;
        left: 0;
        font-size: 14px;
    }

    .view__header {
        text-align: center;
        z-index: 30;
        padding: 35px 0 30px 0;
        border-bottom: 1px solid #333;
        margin-bottom: 50px;
    }

    h2 {
        color: colors.$teal;
        font-size: 50px;
        line-height: 1;
        position: static;
    }
}

.contact-form {
    position: relative;

    @include mixins.placeholder-styles {
        color: #777;
        font-style: italic;
        font-family: "Trebuchet MS";
        font-size: 16px;
    }

    form {
        display: flex;
        justify-content: space-between;
        width: 980px;
        height: 320px;
        margin: 0 auto;
        padding: 35px 28px 35px 23px;
        position: relative;
        background: url(../../assets/bg_contactForm.jpg) no-repeat 0 0;
        border-radius: 14px;
    }

    .form-lcol {
        width: 48%;
    }

    .form-rcol {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .loader {
        position: absolute;
        bottom: 32.5px;
        right: 141px;
        width: 30px;
        height: 30px;
        z-index: 20;
        background: url(../../assets/loader/loader-o-yellow.gif) no-repeat 50% 50%;
        display: none;
        //@include transition(200ms);
    }

    .sending .loader {
        display: block;
    }

    label {
        position: absolute;
        text-indent: -9999px;
    }

    input {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 0;
        line-height: 30px;
        font: 24px Arial;
        color: #ddd;
        border: 2px solid #11363f;
        box-shadow:
            0 0 8px #000 inset,
            -2px 2px 2px rgba(152, 192, 183, 0.5),
            2px -2px 1px rgba(0, 0, 0, 0.5);
        background-color: rgba(#000, 0.8);
        border-radius: 4px;
        transition: all 200ms;
    }

    .control-input {
        position: relative;
        margin: 0 0 33px 0;
    }

    .group {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .control-input {
            width: 48%;
        }
    }

    .control-textarea {
        position: relative;
        width: 100%;
    }

    textarea {
        display: block;
        width: 100%;
        height: 203px;
        padding: 10px;
        font: 16px Arial;
        color: #ddd;
        border: 2px solid #11363f;
        background-color: rgba(#000, 0.8);
        box-shadow:
            0 0 8px #000 inset,
            -2px 2px 2px rgba(152, 192, 183, 0.5),
            2px -2px 1px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        transition: all 200ms;
    }

    .confirmEmail {
        display: none;
    }

    .btn-submit {
        cursor: pointer;
        align-self: flex-end;
        padding: 6px 30px 3px 30px;
        margin: 20px 0 0 0;
        font-size: 25px;
        color: #835500;
        text-transform: uppercase;
        text-shadow:
            0px -1px 0px #333,
            0 1px 0px #b69d6f;
        border-radius: 6px;
        box-shadow:
            0px 1px 3px rgba(0, 0, 0, 0.7),
            0px -1px 0px rgba(245, 233, 172, 1);
        transition: all 0.2s;
        @include mixins.vertical-gradient(#eabb00, #a86400);
        font-family: "BebasNeueRegular", Arial, sans-serif;

        &:hover {
            background: linear-gradient(to bottom, #eabb00 0%, #eabb00 100%);
        }

        &:active {
            border: 2px solid colors.$linkBlue;
        }
    }

    .input--is-invalid,
    .input--is-invalid:focus {
        border-color: #801010;
    }
}
