@use "/src/styles/mixins";
@use "/src/styles/colors";

.slider__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    @include mixins.breakpointMin(715px) {
        padding: 15px 0 0 0;
    }
}
