@use "/src/styles/mixins";
@use "/src/styles/colors";

.slider__controls {
    display: none;
    padding: 15px 0 0 0;
    justify-content: space-between;
    align-items: center;

    @include mixins.breakpointMin(715px) {
        display: flex;
    }
}
