@use "/src/styles/colors";
@use "/src/styles/mixins";

.about {
    max-width: 690px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    line-height: 1.5;
    font-size: 16px;
    background-color: rgba(#000, 0.5);
    border-radius: 2px;
    z-index: 5;

    // TODO: come back to this
    // margin-bottom: 170px;

    @include mixins.breakpointMin(715px) {
        padding: 40px;
    }

    p {
        color: #ddd;
        margin: auto;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 32px;
        text-overflow: ellipsis;
    }

    & > div:last-of-type > p {
        margin-bottom: 0;
    }

    code {
        font-size: 18px;
    }

    span {
        color: colors.$teal;
    }

    strong {
        color: colors.$gold;
        font-weight: bold;
    }

    &__icon-hand {
        display: inline-block;
        position: relative;
        left: -4px;
        top: 1px;
        transform-origin: right bottom;
    }

    &__icon-fire {
        display: inline-block;
        position: relative;
        transform-origin: center bottom;
    }
}

.gitHub {
    display: inline-block;
    margin-right: 8px;
    font-size: 24px;
}
