@use "/src/styles/mixins";
@use "/src/styles/colors";

.pdf-page {
    border: 2px solid #000;
    margin-bottom: 16px;
    background: #222;

    &:last-child {
        margin-bottom: 0;
    }
}

:global(.react-pdf__message) {
    width: auto;
    text-align: center;
    padding: 10px;
    background-color: #000;
    border-radius: 4px;
}

:global(.react-pdf__message--error) {
    background: #333;
    font-weight: bold;
    color: #ddd;
    padding: 10px 20px;
    border-left: 10px solid colors.$errorRed;
    border-radius: 0;
}

.pdf-loader {
    font-size: 80px;
}
