@use "/src/styles/mixins";
@use "/src/styles/colors";

.loader-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    font-size: 40px;
    color: colors.$gold;
    animation-duration: 1s;
}
